

<div class="medium-list">
    <div class="list-viewer-wrapper">
        <div class="list-header-title">Add Category</div>

        <form [formGroup]="addcategory" (ngSubmit)="addcategory.valid && onAddCategory()">
            <div class="form-container">
                <mat-form-field>
                    <input id="categoryName" matInput formControlName="categoryName" [(ngModel)]="category.categoryName"
                        placeholder="Enter Category name" />
                </mat-form-field>
                <mat-form-field>
                    <input id="createdBy" matInput formControlName="createdBy" [(ngModel)]="category.createdBy"
                        placeholder="created by" />
                </mat-form-field>
                <button mat-button type="submit" class="mat-raised-button mat-primary"
                    [disabled]="!addcategory.valid">Add Category</button>
            </div>
        </form>
    </div>
</div>


