
<button mat-button [matMenuTriggerFor]="menu">Product</button>
<!-- #enddocregion mat-menu-trigger-for -->
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/product">Add Product</button>
  <button mat-menu-item routerLink="/product-list">Get Product</button>
</mat-menu>
<span class="spacer"></span>
<button mat-button [matMenuTriggerFor]="menu1">Category</button>
<!-- #enddocregion mat-menu-trigger-for -->
<mat-menu #menu1="matMenu">
  <button mat-menu-item routerLink="/category">Add Category</button>
  <button mat-menu-item routerLink="/category-list">Get Category</button>
</mat-menu>
<!-- <button mat-button routerLink="/category">category</button> -->