<table mat-table [dataSource]="listData" class="mat-elevation-z8" >
    <!-- Position Column -->
    <ng-container matColumnDef="productId">
      <th mat-header-cell *matHeaderCellDef> Product Id </th>
      <td mat-cell *matCellDef="let element"> {{element.productId}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="productName">
      <th mat-header-cell *matHeaderCellDef> productName </th>
      <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="productImage">
      <th mat-header-cell *matHeaderCellDef> productImage </th>
      <td mat-cell *matCellDef="let element"> {{element.productImage}} </td>
    </ng-container>
    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> price </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>
      <ng-container matColumnDef="categoryName">
        <th mat-header-cell *matHeaderCellDef> categoryName </th>
        <td mat-cell *matCellDef="let element"> {{element.categoryName}} </td>
      </ng-container>
  
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>  Action</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button ><mat-icon>launch</mat-icon></button>
          <button mat-icon-button (click)="deleteProduct(row.categoryId)" color="warn"><mat-icon>delete_outline</mat-icon></button>
        </td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  
