<mat-toolbar>
    <mat-toolbar-row>
        <button mat-button routerLink="/">App name</button>
        <span class="spacer"></span>
        <button mat-button routerLink="/">Home</button>
        <button mat-button routerLink="/register">Register</button>
        <button mat-button routerLink="/login">login</button>
    </mat-toolbar-row>
</mat-toolbar>