<div class="medium-list">
  <div class="list-viewer-wrapper">
    <div class="list-header-title">Login</div>

    <form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && onLoginSubmit()" >
      <div class="form-container">  
        <mat-form-field>
            <input id="emailId"
                   matInput
                   formControlName="emailId"
                   [(ngModel)]="user.emailId"
                   placeholder="Enter your email" />
                   <mat-error *ngIf="isControlHasError('emailId','required')">
                    <strong>Email id required</strong>
                </mat-error>
                <mat-error *ngIf="isControlHasError('emailId','email')">
                    <strong>Email in the form of email</strong>
                </mat-error>
          </mat-form-field>

        <mat-form-field>
            <input id="password"
                   matInput
                   formControlName="password"
                   [(ngModel)]="user.password"
                   placeholder="Enter your password"
                   [type]="hide ? 'password':'text'" />
              <mat-icon matSuffix (click)="hide = !hide">
                {{hide ? 'visibility' : 'visibility_off'}}
              </mat-icon>
              <mat-error *ngIf="isControlHasError('password','required')">
                <strong>password required</strong>
            </mat-error>
            <mat-error *ngIf="isControlHasError('password','minlength')">
                <strong>password contain min 6 charecter</strong>
            </mat-error>
          </mat-form-field>

          <button mat-button type="submit" 
                  class="mat-raised-button mat-primary" 
                  [disabled]="!loginForm.valid" >Login</button>
          <button mat-button routerLink="/" class="divider">Home</button>
      </div>
    </form>
  </div>
</div>