<div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Success!</strong> User added succesfully!!!
  <button (click)="closealert()" type="button" class="close" data-dismiss="alert" aria-label="Close">                                
    <span aria-hidden="true">&times;</span>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
  </button>
</div>
<div class="medium-list">
    <div class="list-viewer-wrapper">
      <div class="list-header-title">Register</div>
  
      <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && onRegisterSubmit()" >
        <div class="form-container">
          <mat-form-field>
            <input id="userName"                                            
                   matInput                                                                 
                   formControlName="userName"
                   [(ngModel)]="user.userName"
                   placeholder="Enter your name" />
                   <mat-error *ngIf="isControlHasError('userName','required')">
                    <strong>username required</strong>
                   </mat-error>
          </mat-form-field>
  
          <mat-form-field>
              <input id="emailId"
                     matInput
                     formControlName="emailId"
                     [(ngModel)]="user.emailId"
                     placeholder="Enter your email" />
                     <mat-error *ngIf="isControlHasError('emailId','required')">
                      <strong>Email id required</strong>
                  </mat-error>
                  <mat-error *ngIf="isControlHasError('emailId','email')">
                      <strong>Email in the form of email</strong>
                  </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input id="number"
                     matInput
                     formControlName="number"
                     [(ngModel)]="user.number"
                     placeholder="Enter your number" />
                     <mat-error *ngIf="isControlHasError('number','required')">
                      <strong>Number required</strong>
                  </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input id="roleId"
                     matInput
                     formControlName="roleId"
                     [(ngModel)]="user.roleId"
                     placeholder="Enter your role" />
            </mat-form-field>
  
            <mat-form-field>
              <input id="password"
                     matInput
                     formControlName="password"
                     [(ngModel)]="user.password"
                     placeholder="Enter your password"
                     [type]="hide ? 'password':'text'" />
                <mat-icon matSuffix (click)="hide = !hide">
                  {{hide ? 'visibility' : 'visibility_off'}}
                </mat-icon>
                <mat-error *ngIf="isControlHasError('password','required')">
                  <strong>password required</strong>
              </mat-error>
              <mat-error *ngIf="isControlHasError('password','minlength')">
                  <strong>password contain min 6 charecter</strong>
              </mat-error>
            </mat-form-field>
  
            <button mat-button type="submit" 
                    class="mat-raised-button mat-primary" 
                    [disabled]="!registerForm.valid" >Register</button>
            <button mat-button  class="divider" routerLink="/login">Login</button>
        </div>
      </form>
    </div>
  </div>