<!-- <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Success!</strong> User added succesfully!!!
  <button (click)="closealert()" type="button" class="close" data-dismiss="alert" aria-label="Close">                                
    <span aria-hidden="true">&times;</span>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
  </button>
</div> -->
<div class="medium-list">
    <div class="list-viewer-wrapper">
      <div class="list-header-title">Add product</div>
  
      <form [formGroup]="addproduct" (ngSubmit)="addproduct.valid && onAddProduct()" >
        <div class="form-container">
          <mat-form-field>
            <input id="productName"                                            
                   matInput                                                                 
                   formControlName="productName"
                   [(ngModel)]="product.productName"
                   placeholder="Enter product name" />
                   <mat-error *ngIf="isControlHasError('productName','required')">
                    <strong>product name required</strong>
                   </mat-error>      
          </mat-form-field>
  
          <mat-form-field>
              <input id="categoryName"
                     matInput
                     formControlName="categoryName"
                     [(ngModel)]="product.categoryName"
                     placeholder="Enter Category Name" />
                     <mat-error *ngIf="isControlHasError('categoryName','required')">
                      <strong>category name required</strong>
                     </mat-error>                    
            </mat-form-field>
            <!-- <mat-form-field> -->
              <input id="productImage"
              formControlName="productImage"
              [(ngModel)]="product.productImage"
                     type="file"
                     style="display: none;"
                     (change)="onFileSelected($event)" #fileInput/>
                     <button mat-button class="mat-primary mr-auto" type="button" (click)="fileInput.click()">
                      Pic product image
                     </button>
                     <mat-error *ngIf="isControlHasError('productImage','required')">
                      <strong>product image required</strong>
                     </mat-error>         
            <!-- </mat-form-field> -->
            <mat-form-field>
              <input id="categoryId"
                     matInput
                     formControlName="categoryId"
                     [(ngModel)]="product.categoryId"
                     placeholder="Enter your categoryId" />
                     <mat-error *ngIf="isControlHasError('categoryId','required')">
                      <strong>categoryId  required</strong>
                     </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input id="price"
                     matInput
                     formControlName="price"
                     [(ngModel)]="product.price"
                     placeholder="Enter price" />
                     <mat-error *ngIf="isControlHasError('price','required')">
                      <strong>price  required</strong>
                     </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input id="createdBy"
                     matInput
                     formControlName="createdBy"
                     [(ngModel)]="product.createdBy"
                     placeholder="created by" />
            </mat-form-field>
                    <button mat-button type="submit" 
                    class="mat-raised-button mat-primary" 
                    [disabled]="!addproduct.valid" >Add Product</button>
        </div>
      </form>
    </div>
  </div>