<!-- <div class="search-div">
    <button mat-raised-button (click)="onCreate()">
      <mat-icon>add</mat-icon>Create
    </button></div> -->
<table mat-table [dataSource]="listData" class="mat-elevation-z8" >
    <!-- Position Column -->
    <ng-container matColumnDef="categoryId">
      <th mat-header-cell *matHeaderCellDef> Category Id </th>
      <td mat-cell *matCellDef="let element"> {{element.categoryId}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="categoryName">
      <th mat-header-cell *matHeaderCellDef> categoryName </th>
      <td mat-cell *matCellDef="let element"> {{element.categoryName}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="createdBy">
      <th mat-header-cell *matHeaderCellDef> createdBy </th>
      <td mat-cell *matCellDef="let element"> {{element.createdBy}} </td>
    </ng-container>
    <!-- <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>  Action</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button ><mat-icon>launch</mat-icon></button>
          <button mat-icon-button (click)=" deleteCategory(row.categoryId)" color="warn"><mat-icon>delete_outline</mat-icon></button>
        </td>
      </ng-container> -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  
